<div fxLayoutAlign="center center">
  <h2>Create User</h2>
</div>
<div fxLayoutAlign="center center">
  <form [formGroup]="signupForm" (ngSubmit)="submit()">
    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxFlex="30">
          <label for="username">Username</label>
        </div>
        <div fxFlex="70">
          <div fxLayout="column">
            <div class="input-field">
              <input
                name="username"
                id="username"
                type="text"
                formControlName="username"
                class="form-control"
              />
            </div>
            <div class="valid-msg">
              <span
                *ngIf="
                  !signupForm.get('username').valid &&
                  signupForm.get('username').touched
                "
                >please enter username!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxFlex="30">
          <label for="email">Email</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="email"
              id="email"
              type="email"
              formControlName="email"
            />
          </div>
          <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('email').valid &&
                signupForm.get('email').touched
              "
              >please enter valid email!
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxFlex="30">
          <label for="Password">Password</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="Password"
              id="Password"
              type="password"
              formControlName="password"
            />
          </div>
          <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('password').valid &&
                signupForm.get('password').touched
              "
              >please enter valid password
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxFlex="30">
          <label for="confirmPassword">Confirm Password</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="confirmPassword"
              id="confirmPassword"
              type="password"
              formControlName="confirmPassword"
            />
          </div>
          <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('confirmPassword').valid &&
                signupForm.get('confirmPassword').touched
              "
              >please enter valid password
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxFlex="30">
          <label for="displayName">Display Name</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="displayName"
              id="displayName"
              type="text"
              formControlName="displayName"
            />
          </div>
          <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('displayName').valid &&
                signupForm.get('displayName').touched
              "
              >Please Enter Displayname
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxLayout="30">
          <label for="firstName">Name</label>
        </div>
        <div fxFlex="35">
          <div class="input-field">
            <input
              name="firstName"
              id="firstName"
              type="text"
              placeholder="First"
              formControlName="firstName"
            />
            <!-- <div class="valid-msg">
                <span
                  *ngIf="
                    !signupForm.get('firstName').valid &&
                    signupForm.get('firstName').touched
                  "
                  >please Enter Firstname
                </span>
              </div> -->
          </div>
        </div>
        <div fxFlex="35">
          <div class="input-field">
            <input
              name="lastName"
              id="LastName"
              type="text"
              placeholder="Last"
              formControlName="lastName"
            />
          </div>
          <!-- <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('lastName').valid &&
                signupForm.get('lastName').touched
              "
              >please Enter lastName
            </span>
          </div> -->
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxLayout="30">
          <label for=" nickname">Nickame</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="nickname"
              id="nickname"
              type="text"
              formControlName="nickName"
            />
          </div>
           <div class="valid-msg">
                <span
                  *ngIf="
                    !signupForm.get('nickName').valid &&
                    signupForm.get('nickName').touched
                  "
                  >please Enter Nickname
                </span>
              </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxLayout="30">
          <label for="Website">Website</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="Website"
              id="Website"
              type="text"
              formControlName="website"
            />
          </div>
          <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('website').valid &&
                signupForm.get('website').touched
              "
              >please Enter website
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxLayout="30">
          <label for="bio">Bio</label>
        </div>
        <div fxFlex="70">
          <div>
            <textarea
              name="bio"
              id="bio"
              rows="4"
              cols="49"
              formControlName="bioDescription"
            ></textarea>
        </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxLayout="30">
          <label for="jabber">Jabber</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="jabber"
              id="jabber"
              type="text"
              formControlName="jabber"
            />
          </div>
          <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('jabber').valid &&
                signupForm.get('jabber').touched
              "
              >please Enter Jabber
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxLayout="30">
          <label for="aolIm">AOL IM</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="aolIm"
              id="aolIm"
              type="text"
              formControlName="aolIm"
            />
          </div>
          <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('aolIm').valid &&
                signupForm.get('aolIm').touched
              "
              >please Enter AOL IM
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxLayout="30">
          <label for="yahooIm">Yahoo IM</label>
        </div>
        <div fxFlex="70">
          <div class="input-field">
            <input
              name="yahooIm"
              id="yahooIm"
              type="text"
              formControlName="yahooIm"
            />
          </div>
          <div class="valid-msg">
            <span
              *ngIf="
                !signupForm.get('yahooIm').valid &&
                signupForm.get('yahooIm').touched
              "
              >please Enter Yahoo IM
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div fxFlex="row" fxLayoutAlign="center center">
        <div fxLayout="50">
          <button
            [disabled]="!signupForm.valid"
            mat-raised-button
            color="primary"
            type="submit"
            (click)="submit()"
          >
            CREATE AND ACCESS
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

