.bg{
    background-color: #ECECEC;
    padding: 15px 0px;
    height: 100vh;
}
.sample-1{
    height: 180px;
    // margin-top: 15px;
}
.sample-2{
    height: 400px;
    margin-top: 15px;

}
.sample-3{
    height: 175px;
    margin-top: 15px;
}

