<mat-toolbar class="mat-elevation-z1 nav">
    <button mat-icon-button id="menu" >
      <mat-icon>menu</mat-icon>
    </button>
    <h3>Contract<span> Portal</span></h3>
  </mat-toolbar>


<div class="bg">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="80" fxLayoutAlign="space-around center">
      <div fxFlex="60">
        <mat-card class="sample-1">Simple1 card</mat-card>
      </div>
      <div fxFlex="35">
        <mat-card class="sample-1">Simple1 card</mat-card>
      </div>
    </div>
    <div fxFlex="80" fxLayoutAlign="space-around center">
      <div fxFlex="60">
        <mat-card class="sample-2">Simple2 card</mat-card>
      </div>
      <div fxFlex="35">
        <mat-card class="sample-3">Simple3 card</mat-card>
        <mat-card class="sample-3">Simple3 card</mat-card>
      </div>
    </div>
  </div>
</div>
