.bg{
    background-color: #ECECEC;
    padding: 15px 0px;
}
.sample-1{
    height: 180px;
    // margin-top: 15px;
}
.sample-2{
    height: 400px;
    margin-top: 15px;

}
.sample-3{
    height: 175px;
    margin-top: 15px;
}
.nav{
    background-color: #2A3A4A;
    color: white;
    h3{
        margin-left: 10px;
    }
    span{
        color: #3DBCF3;
    }
}
