.bg{
    background-color: #485D72;
    height: 100px;
}
.logo{
    color: white;
    h2{
     font-family: serif;
     font-size: 36px;
    }
 span{
    color: #3DBCF3;
 }
}
a{
    color: white;
    font-size: 20px;
}